<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

              <!-- package..class로 가정하고 사용 -->				 
<mapper namespace="com.demoweb.mapper.MemberMapper">

	<insert id="insertMember" parameterType="com.demoweb.dto.Member">
		INSERT INTO member (memberid, passwd, email)
		VALUES (#{memberId}, #{passwd}, #{email})
	</insert>
	
	<select id="selectMemberByIdAndPasswd" parameterType="com.demoweb.dto.Member"
										   resultType="com.demoweb.dto.Member">
		SELECT memberid, email, usertype, active, regdate
		FROM member				  
		WHERE memberid = #{memberId} AND passwd = #{passwd} AND active = true
	</select>

</mapper>